@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
  font-family: "Playfair Display", serif;
}

h2 {
  font-size: 20px;
  margin: 0;
}

h3 {
  font-size: 18px;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card_div {
  display: flex;
  margin: 15px;
  box-shadow: 0px 0px 10px 0px #8080807a;
  border-radius: 15px 0 15px 0;
  align-items: center;
  overflow: hidden;
}

.card_order {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card_img {
  width: 45%;
}

.card_info {
  margin: 10px;
  width: 55%;
}

.card_info p {
  margin: 10px 0;
}